header {
    background-color: darkgreen;
}

a {
    color: white;
    text-decoration: none;
    padding: 0.8em;
    display: inline-block;
}

a:hover{
    color: darkgreen;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-around;
}

#flex-container {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
}

#flex-container > section {
    flex: 200px;
    border: 5px solid black;
}