@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Walter+Turncoat&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: grid;
    background-color: #3B4072;
    grid-template-columns: 120px auto;
}

#logo {
    width: 80px;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}

#logo_link{
    padding-top: 5px;
    padding-bottom: 5px;
    justify-self: center;
    align-self: center;
}

nav a {
    color: #FAF3DD;
    text-decoration: none;
    text-align: center;
    padding: 35px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

nav a:hover {
    color:#3B4072;
    background-color: #FAF3DD;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

body {
    background-color: #618D7C;
    margin: 0;
    padding: 0;
}

#main_banner {
    width: 100%;
    grid-column: 1/11;
}

main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

h1 {
    color: #FAF3DD;
    font-family: 'Rock Salt', Times, Serif;
    justify-self: center;
}

#mountains {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    color: #FAF3DD;
    font-family: 'Walter Turncoat', Times, Serif;
    max-width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* Style the Image Used to Trigger the Modal */
#totems {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #totems:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

footer {
    background-color: #3B4072;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #618D7C;
}

footer .social img {
    padding-top: 15px;
}